#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#
#                              MACROS
#
#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#Include TEST_SPEED
[include TEST_SPEED.cfg]
#=====================================================
# START PRINT
#=====================================================

[gcode_macro START_PRINT]
gcode:
    {% set T_BED = params.T_BED|default(50) %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(205) %}
    # Use absolute coordinates
    G92
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default

    # Prime line
    PRIME_LINE
##
##  For this macro to work, please add this to your slicer's start g-code
##
##  M190 S[bed_temperature_initial_layer_single]
##  M109 S[nozzle_temperature_initial_layer]
##  START_PRINT T_EXTRUDER=[nozzle_temperature_initial_layer] T_BED=[bed_temperature_initial_layer_single]
##
## (PLEASE remove the "##")
##
##

#=====================================================
# END PRINT
#=====================================================

[gcode_macro END_PRINT]
gcode:
    # move z up
    G91
    G1 E-3 Z+5 F3000
    G1 E-15 F1500
    # absolute xy 
    G90
    G1 X5 Y220 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR
##
##  For this macro to work, please add this to your slicer's start g-code
##  
##  END_PRINT
##
## (PLEASE remove the "##")
##
##
#=====================================================
# PRIME LINE
#=====================================================
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G90 ; Use absolute position mode
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X1.1 Y20.0 Z0.28 F5000.0 ;Move to start position
    G1 X1.1 Y150.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X1.4 Y150.0 Z0.28 F5000.0 ;Move to side a little
    G1 X1.4 Y20.0 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
 
# [homing_override]
# gcode:
#     G90 ; Use absolute position mode
#     G1 Z10 ; Move up 10mm
#     G28 X Y
#     G1 X117 Y150 F6000 ; Change the X and Y coordinates to the center of your print bed
#     G28 Z
# set_position_z: 0.0

#=====================================================
# BUILD THE BED MESH
#=====================================================
# G29 that does (1) home all (2) get bed mesh (3) move 
# nozzle to corner so it doesnt ooze on the bed while heating up.
[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 Z10 F6000
    BED_MESH_PROFILE save=ender3

#=====================================================
# PARK PRINTER
#=====================================================
# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z10 F600 # move up 5 mm
    G90
    G1 X5 Y225 F4000 # move to park position
    RESTORE_GCODE_STATE NAME=parking

#=====================================================
# LOW TEMP CHECK
#=====================================================
# LOW_TEMP_CHECK checks if there is a setpoint for the  extruder. Untested! 
# - If this setpoint is reached, continue. 
# - If not, heat to setpoint.
# - If no setpoint, heat to parameter T (default@200)
[gcode_macro LOW_TEMP_CHECK]
gcode:
    {% set T_EXTRUDER = params.T_EXTRUDER|default(205) %}
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T_EXTRUDER %}  # heat to T.
            M118 No setpoint, heating to {T_EXTRUDER}.
            M109 S{T_EXTRUDER}
        {% endif %}
    {% endif %}

#======================================================
# LOAD FILAMENT
#======================================================
[gcode_macro M701]
#[gcode_macro Load_Filament]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    LOW_TEMP_CHECK
    G1 E220 F3000  # length of bowden tube till cold-end (~420mm) 
    G1 E50 F200  # some extra to prime the nozzle --> slower 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=loading_filament

#======================================================
# UNLOAD FILAMENT
#======================================================
[gcode_macro M702]
#[gcode_macro Unload_Filament]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M125 # park
    M117 Unloading Filament 
    LOW_TEMP_CHECK
    G91 # set relative
    G1 E10 F100 
    G92 E0.0
    G1 E-250 F3000 # the E is the length of the bowden tube (420mm) + 100 mm. 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=unloading_filament

#======================================================
# FILAMENT CHANGE
#======================================================
[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{10}
    G90
    G1 X0 Y200 F3000
    G91
    G1 E-1 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#======================================================
# COUNTDOWN MACRO
#======================================================
[gcode_macro COUNTDOWN]
gcode:
    {% set MSG = params.MSG|default("Time: ") %}
    {% set TIME = params.TIME|default(10) %}
    # countdown 
    {% for s in range(TIME|int, 0, -1) %}
        # dwell 1 second
        G4 P1000
        # echo
        M117 {params.MSG} {s}s
        M118 {params.MSG} {s}s
    {% endfor %}


[pause_resume]

#=====================================================
# PAUSE
#=====================================================

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(5) %}      #edit to your park position
    {% set y = params.Y|default(200) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

#=====================================================
# RESUME
#=====================================================

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

#=====================================================
# CANCEL
#=====================================================

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT


#=====================================================
# Axis Test LONG
#=====================================================

[gcode_macro TEST_AXIS_LONG]
description: Test x and y axis movements
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  G91
  G1 Z+5 F1500
  G90
  G1 X15 Y15 F7000
  G91
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G1 X+185 F7000
  G1 Y+185 F7000
  G1 X-185 F7000
  G1 Y-185 F7000
  G90

#=====================================================
# Axis Test Short
#=====================================================

[gcode_macro TEST_AXIS_SHORT]
description: Test x and y axis movements
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  G91
  G1 Z+5 F1500
  G90
  G1 X0 Y0 F8000
  G91
  G1 X+215 F8000
  G1 Y+215 F8000
  G1 X-215 F8000
  G1 Y-215 F8000
  G1 X+215 F8000
  G1 Y+215 F8000
  G1 X-215 F8000
  G1 Y-215 F8000
  G90

#=====================================================
# Axis Test Fast
#=====================================================

[gcode_macro TEST_AXIS_FAST]
description: Test x and y axis movements
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  G91
  G1 Z+5 F1225
  G90
  G1 X0 Y0 F10000
  G91
  G1 X+215 F16000
  G1 Y+215 F16000
  G1 X-215 F16000
  G1 Y-215 F16000
  G1 X+215 F16000
  G1 Y+215 F16000
  G1 X-215 F16000
  G1 Y-215 F16000
  G90

#=====================================================
# Shake Test
#=====================================================

[gcode_macro TEST_AXIS_SHAKE]
description: Shake x and y axis movements
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  G91
  G1 Z+5 F1225
  G90
  G1 X100 Y100 F8000
  G91
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G1 X-15 Y-15 F20000
  G1 X+15 Y+15 F20000
  G90

#=====================================================
# BUILD THE BED MESH
#=====================================================
[gcode_macro ABL_MESH]
description: Run Mesh Leveling
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    BED_MESH_CALIBRATE
    G0 Z10 F6000
    BED_MESH_PROFILE SAVE=default

#=====================================================
# Manual Bed Level
#=====================================================

[gcode_macro LEVEL_BED]
description: run manual bed leveling
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  BED_SCREWS_ADJUST

#=====================================================
# Filament IN
#=====================================================
[gcode_macro FILAMENT_IN]
description: Filament In
gcode:
  G91
  G1 E60 F2000
  G1 E50 F600
  G1 E-5 F400
  G90

#=====================================================
# Filament OUT
#=====================================================
[gcode_macro FILAMENT_OUT]
description: Filament Out
gcode:
  G91
  G1 E10 F600
  G1 E-100 F2000
  G90

#=====================================================
# PROBE CALIBRATE
#=====================================================
[gcode_macro Z_PROBE_CALIBRATE]
description: Calibrate Probe Z-Offset
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    PROBE_CALIBRATE

#=====================================================
# PID Hotend
#=====================================================
[gcode_macro PID_HOTEND]
description: Calibrate PID Hotend
gcode:
        {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    G90
    G1 X105 Y105 F3000
    G1 Z5 F1500
    G90
    M106 S255
    PID_CALIBRATE HEATER=extruder TARGET=200

#=====================================================
# PID Bed
#=====================================================
[gcode_macro PID_Bed]
description: Calibrate PID Bed
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=60

#=====================================================
# Gantry-Level
#=====================================================
[gcode_macro Z_LEVEL]
description: allign Z-gantry
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    G90
    G1 X110 F3000
    G1 Z225 F1500
    G1 Z235 F100
    G1 Z80 F1500
    G90
    G28

#=====================================================
# Input Shaper X
#=====================================================
[gcode_macro SHAPE_X]
description:Input Shaper X
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    SHAPER_CALIBRATE AXIS=X

#=====================================================
# Input Shaper Y
#=====================================================
[gcode_macro SHAPE_Y]
description:Input Shaper Y
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    SHAPER_CALIBRATE AXIS=Y