# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Mainsail
[include mainsail.cfg]

# Macros
[include macros.cfg]

# ADXL
#[include adxl.cfg]

# Adaptive Mesh
#[include Adaptive_Mesh.cfg]

# Timelapse
[include timelapse.cfg]

# MicroProbe
[include microprobe.cfg]

# Exclude Object
[exclude_object]

# pause/resume
[pause_resume]

#====================================================================
# PRINTER LIMIT SETTINGS
#====================================================================
[printer]
kinematics: cartesian
max_z_velocity: 20
max_z_accel: 100

#NORMAL
max_velocity: 300
max_accel: 4400
max_accel_to_decel: 4400
square_corner_velocity: 6.0

#SPEEDBENCHY
#max_velocity: 2000
#max_accel: 9000
#max_accel_to_decel: 6000
#square_corner_velocity: 6.0

#TESTING ONLY!
#max_velocity: 20000
#max_accel: 20000
#max_accel_to_decel: 20000
#square_corner_velocity: 6.0

#====================================================================
# Serial Connection
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_43000F0011504B5735313920-if00
restart_method: command

[input_shaper]
shaper_type_y: mzv
shaper_freq_y: 38.8
shaper_type_x: mzv
shaper_freq_x: 67.6

#====================================================================
# X STEPPER
#====================================================================
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# Y STEPPER
#====================================================================
[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# Z STEPPER
#====================================================================
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# EXTRUDER
#====================================================================
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 28.800
gear_ratio: 50:8
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500.0
pressure_advance: 0.045
min_extrude_temp: 0
max_extrude_cross_section: 50.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# HEATED BED
#====================================================================
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================
[heater_fan hotend_fan]
pin: PC6
heater: extruder
heater_temp: 35.0

[fan]
pin: PC7

[controller_fan my_controller_fan]
pin: PB15
fan_speed: 1.0

#====================================================================
# PROBE CONFIG
#====================================================================
[output_pin probe_enable]
pin: PA1
value: 0
[gcode_macro Probe_Deploy]
gcode:
 SET_PIN PIN=probe_enable VALUE=1
[gcode_macro Probe_Stow]
gcode:
 SET_PIN PIN=probe_enable VALUE=0
[probe]
pin: ^!PC14 ## For V1 version, set to ^PC14 for high-level trigger; for V2 version, set to ^!PC14 for low-level trigger.
deactivate_on_each_sample: False
x_offset: -46.0 # Actual offset of the MicroProbe installation
y_offset: -1.0 # Actual offset of the MicroProbe installation
z_offset: 0.0 # Actual offset of the MicroProbe installation
speed: 5.0
activate_gcode:
 Probe_Deploy
 G4 P500 # Allow 500 milliseconds for the probe to deploy
deactivate_gcode:
 Probe_Stow
 
[safe_z_home]
home_xy_position: 115,115 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

#====================================================================
# MANUAL BED LEVELING
#====================================================================
[bed_screws]
screw1: 35,35
screw1_name: front left screw
screw2: 35,195
screw2_name: rear left screw
screw3: 195,195
screw3_name: rear right screw
screw4: 195,35
screw4_name: front right screw

#====================================================================
# BED MESH PARAMETERS
#====================================================================
[bed_mesh]
speed: 200
horizontal_move_z: 5

#mesh_min: 20,20
#mesh_max: 190,190
#probe_count: 9

mesh_min: 50,50
mesh_max: 180,180
probe_count: 3

mesh_pps: 2
algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0

#====================================================================
# ARC SUPPORT
#====================================================================
[gcode_arcs]
resolution: 0.2

[temperature_sensor orange_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor printer_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[idle_timeout]
timeout: 6000
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>